# {{ ansible_managed }}
network:
  version: 2
  renderer: networkd
  ethernets:
    {{ network.default_interface | default(ansible_default_ipv4.interface) }}:
      dhcp4: no
      addresses:
        - {{ network['ipv4'] | default(ansible_default_ipv4.address) }}/{{ netmask_prefix }}
      gateway4: {{ gateway }}
      nameservers:
          addresses: {% for nameserver in nameservers %}

            - {{ nameserver['network']['ipv4'] | default(nameserver['ansible_default_ipv4']['address']) }} {% endfor %}

