# {{ ansible_managed }}
NM_CONTROLLED="yes"
DEVICE="{{ network.default_interface | default(ansible_default_ipv4.interface) }}"
BOOTPROTO=static
ONBOOT="yes"
IPADDR={{ network['ipv4'] | default(ansible_default_ipv4.address) }}
NETMASK={{ netmask }}
GATEWAY={{ gateway }}
{% for nameserver in nameservers %}
DNS{{ loop.index }}={{ nameserver['network']['ipv4'] | default(nameserver['ansible_default_ipv4']['address']) }}
{% endfor }
