; {{ ansible_managed }}
$TTL    604800
@ IN SOA ns.{{domain}}. root.{{domain}} (
             1       ; Serial
             604800     ; Refresh
              86400     ; Retry
            2419200     ; Expire
             604800 )   ; Negative Cache TTL
; name servers - NS records
@ IN  NS  ns.{{domain}}.
; name servers - A records
ns IN A {{ network['ipv4'] | default(ansible_default_ipv4['address']) }}
; {{domain}} A records generated through Ansible.
{% for host in hostvars %}
{{ hostvars[host]['inventory_hostname'] }} IN A {{ hostvars[host]['network']['ipv4'] | default(hostvars[host]['ansible_default_ipv4']['address']) }}  
{% endfor %}
