; {{ ansible_managed }}
$TTL    604800
@ IN SOA ns.{{domain}}. root.{{domain}} (
             1       ; Serial
             604800     ; Refresh
              86400     ; Retry
            2419200     ; Expire
             604800 )   ; Negative Cache TTL
; name servers - NS records
 IN  NS  ns.{{domain}}.
; PTR records generated through Ansible.
{% for host in hostvars %}
{% with address=(hostvars[host]['network']['ipv4'] | default(hostvars[host]['ansible_default_ipv4']['address'])) %}
{{ address[(subnet | length)+1:].split('.')[::-1] | join('.') }} IN PTR {{ hostvars[host]['inventory_hostname'] }}.{{domain}}.; {{address}}
{% endwith %}
{% endfor %}
