// {{ ansible_managed }}
zone "{{domain}}" {
    type master;
    file "/etc/bind/db.{{domain}}";
};

zone "{{ subnet.split('.')[::-1] | join('.') }}.in-addr.arpa" {
  type master;
  file "/etc/bind/db.{{ subnet }}";
};
