# {{ ansible_managed }}

options {
	directory "/var/cache/bind";

  recursion yes;

  allow-recursion { any; };

	forwarders {
    {% for nameserver in default_nameservers %}
      {{ nameserver }};
    {% endfor %}
	};

	dnssec-validation no;

	listen-on-v6 { any; };
};
