# {{ ansible_managed }}
127.0.0.1   localhost {{ inventory_hostname }}
::1         localhost ip6-localhost ip6-loopback {{ inventory_hostname }}

# The following lines are desirable for IPv6 capable hosts.
::1         ip6-localhost ip6-loopback
fe00::0     ip6-localnet
ff00::0     ip6-mcastprefix
ff02::1     ip6-allnodes
ff02::2     ip6-allrouters

# Network nodes as generated through Ansible.
{% for host in hostvars %}
{{ hostvars[host]['network']['ipv4'] | default(hostvars[host]['ansible_default_ipv4']['address']) }}  {{ hostvars[host]['inventory_hostname'] }}
{% endfor %}
