# {{ ansible_managed }}
# dhcpd.conf
#
# Sample configuration file for ISC dhcpd
#
# Attention: If /etc/ltsp/dhcpd.conf exists, that will be used as
# configuration file instead of this file.
#

# option definitions common to all supported networks...
option domain-name "{{domain}}";
option domain-name-servers ns.{{domain}};

default-lease-time 600;
max-lease-time 7200;

# The ddns-updates-style parameter controls whether or not the server will
# attempt to do a DNS update when a lease is confirmed. We default to the
# behavior of the version 2 packages ('none', since DHCP v2 didn't
# have support for DDNS.)
ddns-update-style none;

# If this DHCP server is the official DHCP server for the local
# network, the authoritative directive should be uncommented.
#authoritative;

# Use this to send dhcp log messages to a different log file (you also
# have to hack syslog.conf to complete the redirection).
#log-facility local7;

group {

  option routers {{ gateway }};
  option domain-search "{{domain}}";
  option domain-name "{{domain}}";
  option domain-name-servers {% for nameserver in nameservers %} {{ nameserver['network']['ipv4'] | default(nameserver['ansible_default_ipv4']['address']) }} {% if not loop.last %}, {% endif %} {% endfor %};

  subnet {{subnet}} netmask {{netmask}} { 
    range {{ range[0] }} {{ range[1] }};
  }

  {% for host in hostvars %}

  host {{host}} {
    hardware ethernet {{ hostvars[host]['network']['mac'] | default(hostvars[host]['ansible_default_ipv4']['macaddress']) }};
    fixed-address {{ hostvars[host]['network']['ipv4'] | default(hostvars[host]['ansible_default_ipv4']['address'])  }};
    server-name "{{host}}.{{domain}}";
    option host-name "{{host}}";
  }

  {% endfor %}
}
